<div class="adsense">
    <style>
        @media(min-width: 800px) {.hide_SP { display: none; }}
    </style>
    <!-- PC-A -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:inline-block;width:300px;height:250px"
        data-ad-client="ca-pub-9515344281161997"
        data-ad-slot="2120182482"
        data-full-width-responsive="false"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- PC-B -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle hide_SP"
        style="display:inline-block;width:300px;height:250px"
        data-ad-client="ca-pub-9515344281161997"
        data-ad-slot="2148102648"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>